<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>

    {% if libros %}
        <ul>
            {% for libro in libros %}
                <li>
                    <strong>Título:</strong> {{ libro.titulo }}<br>
                    <strong>Autor:</strong> {{ libro.autor }}<br>
                    <strong>Género:</strong> {{ libro.genero }}<br><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados para la búsqueda "{{ titulo }}".</p>
    {% endif %}
</body>
</html>